@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(100, 100, 185);
}

.wrapper{
    background-color: aliceblue;
    width: 400px;
    box-shadow: 1px 0 1px 1px rgba(180, 179, 180, 0.438);
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 40px 50px;
}

#input{
    border: 0;
    outline: none;
    padding: 3px 10px;
    background: transparent;
    border-bottom: 2px solid rgb(82, 82, 209) ;
    font-size: 16px;
}
#input::placeholder{
    color: grey;
    opacity: 0.7;
    text-align: center;
}

button{
    background-color: rgb(100, 100, 185);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: 0;
    outline: none;
    padding: 18px;
    text-align: centers;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;

}

.user{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 15px;
    justify-content: space-around;
}
.word-details{
    display: flex;
    align-items: center;
     padding-left: 20px;
}
.word-details p{
    color: gray;
}

h1{
    font-size: 20px;
    padding-left: 10px;
    text-align: start;
    padding-top: 15px;
    font-weight: 600;
    color: rgba(8, 7, 7, 0.932);
}

h2{
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

#example{
    border-left: 5px solid purple;
    padding-left: 10px;
    margin: 20px;
    font-style: italic;
}

@media screen and (max-width:720px) {
    .wrapper{
    width: 80%;
    padding: 40px 50px;
}
.wrapper #input{
    padding: 10px 4px;
    font-size: 15px;
    border-bottom: 1px solid rgb(82, 82, 209) ;
    margin-top: 15px;
    width: 60%;
    text-align: start;
}
button{
    padding: 15px 15px;
}
h1{
    font-size: 17px;
    padding-left: 10px;
    text-align: start;
    padding-top: 10px;
}
#example{
    border-left: 5px solid purple;
    padding-left: 10px;
    margin: 20px;
    font-style: italic;
}

.user{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    gap: 8px;
    justify-content: space-around;
}
}